*{
  font-family: "Kanit", sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.todo{
 
  max-width: 500px;
  width: 100%;
  height: 80vh;
  min-width: 350px;
  background-color: rgb(50, 151, 151);
  border-radius: 20px;
}

.title{
  text-align: center;
  margin: 20px 30px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 25px
}
form {
  display: flex;
  flex-direction: column;
}
.js-task{
  max-width: 390px;
  width: 100;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 10px 40px;
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(160, 163, 167);
  border-radius: 10PX;
  background-color: rgb(233, 241, 248);
}
.js-date{
  max-width: 390px;
  width: 100;
  display: flex;
  flex: 1;
  margin: 10px 40px;
  padding: 10px;
  border-radius: 5px; 
  border-color: rgb(160, 163, 167);
  border-radius: 10PX;
  background-color: rgb(233, 241, 248);
}
.js-date:hover{
  border-color: rgb(230, 221, 221);
}
.js-date:active{
  border: none;
}
.add-Btn{
display: flex;
align-items: center;
justify-content: end;
margin: 5px 18px;
}
.Add-btn{
  padding: 10px;
  width: 60px;
  border-radius: 5px;
  border-color: rgb(113, 219, 238);
  margin: 10px 30px;
  border-radius: 10px 5px;
  background-color:  rgb(88, 204, 224);
}
.Add-btn:hover{
  background-color:  rgb(153, 227, 240);
}
.Add-btn:active{
  border-radius: 5px 10px;
  background-color: rgb(199, 225, 230);
}
.todos{

  display: flex;
  max-width: 410px;
  justify-content: center;
  margin: 13px 40px;
  max-height: 250px;
  height: 100%;
  background-color: rgb(122, 214, 214);
  border-radius: 10px;
}
.js-todos{
  overflow: scroll;
  max-width: 275px;
  width: 100%;
}
.js-todos, .delete{
  display: flex;
  /*border: 1px solid blue;*/
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 390px;
  width: 100%;
  margin: 10px 5px;
  border-radius: 10px;

}
.delete p{

max-width: 360px;
width: 100%;

border-radius: 10px;
padding: 10px 10px;
background-color:  rgb(37, 187, 187);
}

.delete p img{
 border: none;
 height: 15px;
 border-style: none;

}
.delete p .delete-btn{
  border: none;
  background-color:  rgb(37, 187, 187);
  justify-content: center;
  align-items: end;


}
.delete p .delete-btn ,.trash-img{
 float: right;  


}
.js-todos::-webkit-scrollbar {
  display: none;
}
p{
  color: rgb(255, 255, 255);
}

/*.js-todos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid blue;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 190px;
  padding: 10px 5px;
  border-radius: 5px;
    overflow: scroll;
}
.js-todos p {
  display: flex;
  border: 1px solid rgb(255, 0, 170);
  padding: 10px 5px;
  align-items: center;
  height: 35px;
  width: 100%;
  margin: 7px 5px;
}
.delete-btn{
  display: flex;
  padding: 5px 8px;
  height: 40px;
  margin-left: 50px;
  border: none;
  position: inherit;
  justify-content: end;
  position:sticky;
  float: right;
}
.delete-btn{
 max-width: 250px;
}
.trash-img{
  display: flex;
  height: 15px;

}
.delete p{
  display: flex;
  flex-direction: row;
  max-width: 270px;
}
*/


